@import url("styles/headers.css");
@import url("styles/box.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #001722;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul2: #0b004b;
    --fonte-principal: "Poppins";
    --preto: #000000;
    --azul1 :rgb(181, 228, 255)7; 
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400; 
}


