@import url("styles/headers.css");
@import url("styles/box.css");
@import url("styles/carrossel.css");

:root {
    --cor-de-fundo: #001722;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul2: #0b004b;
    --fonte-principal: "Poppins";
    --preto: #000000;
    --azul1:#bbf1ff;
    --azul3:#1c00b8;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400; 
}

.container{
    margin-top: 50px;
    display: flex;
}

.topico1_descricao{
width: 50%;
padding: 2em;
}

.topico1_titulo{
    font-weight: 700;
    font-size: 35px;
    text-align: justify;
    color: var(--azul1);
    margin-bottom: 0.2em;
}

.topico1_texto{
    margin-top: 35px;
    text-align: justify;
    color: var(--azul1);
    font-size: 14px;
    line-height: 1.5em;
}

.topico2_texto{
    margin-top: 35px;
    text-align: justify;
    color: var(--azul1);
    font-size: 14px;
    line-height: 1.5em;
}

.topico1_imagem{
    width: 30%;
    margin: 2em;
}




